extends ../..//layout

block content
    .container.modal-page-main
        .container
            | 登录
            form(method='POST',action='/newBack/user/loginSubmit').form-horizontal
                .form-group
                    label.col-md-2.col-sm-2.control-label 用户名：
                    .col-md-10.col-sm-10
                        input.form-control(type='text',placeholder='请输入用户名',name='userName')
                .form-group
                    label.col-md-2.col-sm-2.control-label 密码：
                    .col-md-10.col-sm-10
                        input.form-control(type='password',placeholder='请输入密码',name='password')
                .form-group
                    label.col-md-2.col-sm-2.control-label
                    .col-md-10.col-sm-10
                        .col-md-6.col-sm-6.text-right
                            input.btn.btn-success(type='submit',value='登录')
                        .col-md-6.col-sm-6.text-left
                            input.btn.btn-danger(type='reset',value='重置')

    include ../../includes/userHeader