link(rel='stylesheet',href='/javascripts/Confirm/Confirm.css')
link(rel='stylesheet',href='/css/article.css')
script(src='/javascripts/Confirm/Confirm.js')
script(src='/javascripts/article_listener_manager.js')
