link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet',href='/font/iconfont.sass')
script(src='/lib/jquery/dist/jquery.min.js')
script(src='/javascripts/registNS.js')
script(src='/javascripts/util.js')
script(src='/javascripts/addEventMap.js')