link(rel='stylesheet',href='/javascripts/Confirm/Confirm.css')
link(rel='stylesheet',href='/css/userLists.css')
script(src='/javascripts/Confirm/Confirm.js')
script(src='/javascripts/user_listener_manager.js')
