@charset "utf-8";
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.fl{
  float:left;
}
.fr{
  float:right;
}
.clearfix:after{
  display: block;
  height:0;
  visibility:hidden;
  clear: both;
  content: '';
}