@charset "utf-8";
/*背景白色 菜单在第二排*/
*{
  padding:0;
  margin:0;
}
ul{
  list-style: none;
}

.no-border{
  border:none !important;
}
.margin-left-28{
  margin-left:28px;
}
.head-wrap {
  height: 40px;
  line-height: 40px;
  background: #e4ba11;
  color: #fff;
  .head-right{
    a{
      color:#fff;
    }
  }
}
.head-menu{
  .wrap{
    position:relative;
    img{
      position:absolute;
      top:0;
      bottom:0;
      margin:auto;
      left:0;
    }
  }
}
.menu {
  border-right: 1px solid #e6e6e6;
  > li {

    float: left;
    border-left: 1px solid #e6e6e6;
    padding: 32px 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
    &.active{
      .parent-menu{
        span{
          color:#57AB57;
        }
      }
    }
  }
  .icon {
    display: inline-block;
    vertical-align: middle;
  }
}



.top-menu-home{
  .icon{
    width: 30px;
    height: 30px;
    background: url(../img/home_grey_icon.png) no-repeat center center;
  }
  &:hover,&.active{
    .icon{
      background: url(../img/home_hover_icon.png) no-repeat center center;
    }
  }
}

.top-menu-job {
  .icon{
    width: 30px;
    height: 30px;
    background: url(../img/job_grey_icon.png) no-repeat center center;
  }
  &:hover ,&.active{
    .icon{
      background: url(../img/job_hover_icon.png) no-repeat center center;
    }
  }
}

.top-menu-employ{
  .icon{
    width: 30px;
    height: 30px;
    background: url(../img/yp_grey_icon.png) no-repeat center center;
  }
  &:hover,&.active{
    .icon{
      background: url(../img/yp_hover_icon.png) no-repeat center center;
    }
  }
}

.top-menu-resume-search{
  .icon{
    width: 30px;
    height: 30px;
    background: url(../img/search_grey_icon.png) no-repeat center center;
  }
  &:hover,&.active{
    .icon{
      background: url(../img/search_hover_icon.png) no-repeat center center;
    }
  }

}

.top-menu-info{
  .icon{
    width: 30px;
    height: 30px;
    background: url(../img/msg_grey_icon.png) no-repeat center center;
  }
  &:hover,&.active{
    .icon{
      background: url(../img/msg_hover_icon.png) no-repeat center center;
    }
  }
}


.menu{
  .top-menu-setting{
    .icon{
      width: 30px;
      height: 30px;
      background: url(../img/setting_grey_icon.png) no-repeat center center;
    }
    &:hover,&.active{
      .icon{
        background: url(../img/setting_hover_icon.png) no-repeat center center;
      }
    }
    .sub-menu {
      left: auto;
      right:0;
    }
  }
}


.menu {
  .icon {
    margin-bottom: 3px;
  }
  .text {
    margin-top: 3px;
  }
}







/*二级菜单*/

.sub-menu-con {}

.menu {
  > li:hover {
    color: #57AB57;
    .parent-menu{
      span{
        color:#57AB57;
      }
    }
    span{
      color:#333;
    }
    .sub-menu {
      display: block;
    }
  }
  .sub-menu {
    position: absolute;
    display: none;
    width: 194px;
    box-sizing: border-box;
    left: 0;
    top: 112px;
    z-index:1000;

  }
}

.sub-menu .sub-menu-con {
  padding: 20px;
  background: #F6F6F6;
  border-left:1px solid #EEEEEE;
  border-bottom:1px solid #EEEEEE;
  border-right:1px solid #EEEEEE;
  -webkit-box-shadow: 2px 2px 4px 1px #cdcdcd;
  -moz-box-shadow: 2px 2px 4px 1px #cdcdcd;
  box-shadow: 2px 2px 4px 1px #cdcdcd;
}

.menu {
  margin:0;
  .sub-menu .sub-menu-con li {
    display: block;
    text-align: left;
    float: none;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #EDEDED;
  }
  .sub-menu-con li {
    position:relative;
    a {
      display: block;
      color: #6E6E6E;
      span{
        display: inline-block;
        vertical-align: middle;
      }
    }
    &:hover a span{
      color: #4DA54D;
    }
  }
}
.sub-menu{
  .top-bg {
    padding-top:1px;
    .top-line {
      height: 10px;
      width: 100%;
      background: #e4ba11;
      -webkit-box-shadow: 2px 2px 4px 1px #cdcdcd;
      -moz-box-shadow: 2px 2px 4px 1px #cdcdcd;
      box-shadow: 2px 2px 4px 1px #cdcdcd;
    }
    .arrows-icon {
      padding-left: 45px;
      text-align: left;
      height: 10px;
      position: relative;
      .icon {
        position: absolute;
        top: 0;
        left: 36px;
        display: inline-block;
        width: 17px;
        height: 10px;
        margin-bottom: 0;
        background: url(../img/menu_arrows_icon.png) no-repeat center center;
      }
    }
  }
}

.top-menu-setting{
  .sub-menu{
    .top-bg {
      .arrows-icon {
        .icon {
          left: auto;
          right: 36px;
        }
      }
    }
  }
}


.top-menu-appreciation{
  .icon{
    width: 30px;
    height: 30px;
    background: url(../img/add_grey_icon.png) no-repeat center center;
  }
  &:hover,&.active{
    .icon{
      background: url(../img/add_hover_icon.png) no-repeat center center;
    }
  }

}
.sub-menu-title{
  color:#333;
  font-size:16px;
}
/*三级菜单*/
/*.three-sub-menu{
  position: absolute;
  left:210px;
  width:210px;
  background:#fff;
  left: 190px;
  top: 0;
  a{
    display: block;
    height: 40px;
    line-height: 40px;

  }
}*/
.sub-menu-item{
  margin-left:10px;
  height:30px !important;
  line-height: 30px !important;
  border:none !important;
  display: inline-block;
  vertical-align: middle;
}
.menu-dot{
  display: inline-block;
  vertical-align:middle;
  width:7px;
  height:7px;
  margin-right:10px;
  background:url(../img/menu_sub_icon.png) no-repeat center center;
}
.head-menu{
  p{
    margin:0;
  }
}

.logo {
  width:93px;
  height:113px;
  position: relative;
  .iconfont{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    font-size:58px;
    width:60px;
    height:60px;
    color:#339933;
  }
}

//<div class="head-menu head-menu-border">
//<div class="wrap clearfix">
//<div class="logo fl">
//<a href="http://www.52liezheng.com/">	<img
//                                          src="http://edit.52liezheng.com:80/gk52Edit//public_uc/user_e/img/logo.png" alt=""></a>
//</div>
//<ul class="menu fr clearfix">
//<li class="top-menu-home UserCmpHome active"
//onclick="window.location.href='http://edit.52liezheng.com:80/gk52Edit/usercenter/editor/act
//ion/EditorHome!admin.action'">
//<div class="parent-menu">
//<p><span class="icon"></span></p>
//<p><span class="text">网编主页</span></p>
//</div>
//
//
//</li>
//<li class="top-menu-job">
//<div class="parent-menu">
//<p><span class="icon"></span></p>
//<p><span class="text">资讯管理</span></p>
//</div>
//<div class="sub-menu">
//<div class="top-bg">
//<p class="arrows-icon"><span
//                        class="icon"></span></p>
//<p class="top-line"></p>
//</div>
//<ul class="sub-menu-con">
//
//<li class="sub-menu-title"><span>站内文章
//</span></li>
//<li class="sub-menu-item"><a
//                           href="http://edit.52liezheng.com:80/gk52Edit//news/commsdoc/edit/article/action/CmsCommsArt
//icle!initAdd.action"><i class="menu-dot"></i><span>新增</span></a></li>
//<li class="no-border sub-menu-item"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit//news/commsdoc/edit/article/action/CmsCommsArt
//icle!manage.action"><i class="menu-dot"></i><span>管理</span></a></li>
//
//<li class="sub-menu-title"><span>新闻文章
//</span></li>
//<li class="sub-menu-item"><a
//                           href="http://edit.52liezheng.com:80/gk52Edit//news/cms/edit/article/action/CmsArticle!
//initAdd.action"><i class="menu-dot"></i><span>新增</span></a></li>
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit//news/cms/edit/article/action/CmsArticle!
//manage.action"><i class="menu-dot"></i><span>管理</span></a></li>
//</ul>
//</div>
//</li>
//<li class="top-menu-job jobadmin">
//<div class="parent-menu">
//<p><span class="icon"></span></p>
//<p><span class="text">职位管理</span></p>
//</div>
//<div class="sub-menu">
//<div class="top-bg">
//<p class="arrows-icon"><span
//                        class="icon"></span></p>
//<p class="top-line"></p>
//</div>
//<ul class="sub-menu-con">
//<li class="sub-menu-title"><span>兼职挂证
//</span></li>
//<!--<li class="sub-menu-item no-border"><a
//                                         href=""><i class="menu-dot"></i><span>添加求职职分类</span></a></li>
//<li class="sub-menu-item no-border"><a
//                                     href=""><i class="menu-dot"></i><span>求职职位分类列表</span></a></li>-->
//<!--<li class="sub-menu-item no-border"><a
//                                         href="http://edit.52liezheng.com:80/gk52Edit//zp/jobadmin/jobjian/action/HrJobJian!
//manage.action"><i class="menu-dot"></i><span>职位管理</span></a></li>-->
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit/zp/edit/jobadmin/jobjian/action/HrJobJian!
//manage.action"><i class="menu-dot"></i><span>职位管理</span></a></li>
//
//<li class="sub-menu-title"><span>全职招聘
//</span></li>
//<!--	<li class="sub-menu-item no-border"><a
//                                             href=""><i class="menu-dot"></i><span>添加求职职分类</span></a></li>
//<li class="sub-menu-item no-border"><a
//                                     href=""><i class="menu-dot"></i><span>求职职位分类列表</span></a></li>-->
//<!--<li class="no-border sub-menu-item"><a
//                                         href="http://edit.52liezheng.com:80/gk52Edit//zp/jobadmin/jobqz/action/HrJobQz!
//manage.action"><i class="menu-dot"></i><span>职位管理</span></a></li>-->
//<li class="no-border sub-menu-item"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit/zp/edit/jobadmin/jobqz/action/HrJobQz!
//manage.action"><i class="menu-dot"></i><span>职位管理</span></a></li>
//</ul>
//</div>
//
//</li>
//<li class="top-menu-employ yingpinadmin">
//<div class="parent-menu">
//<p><span class="icon"></span></p>
//<p><span class="text">简历管理</span></p>
//</div>
//<div class="sub-menu">
//<div class="top-bg">
//<p class="arrows-icon"><span
//                        class="icon"></span></p>
//<p class="top-line"></p>
//</div>
//<ul class="sub-menu-con">
//
//
//<li class="sub-menu-title"><span>全职
//</span></li>
//
//<!-- <li class="no-border sub-menu-item"><a
//                                          href="http://edit.52liezheng.com:80/gk52Edit//zp/yingpinadmin/jian/resumeorder/action/HrRes
//umeOrder!manage.action"><i class="menu-dot"></i><span>预定人才</span></a></li> -->
//<li class="no-border sub-menu-item"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit//qz/edit/quan/action/ResumeQuan!
//manage.action"><i class="menu-dot"></i><span>简历管理</span></a></li>
//
//
//<li class="sub-menu-title"><span>兼职
//</span></li>
//
//<!-- 	<li class="no-border sub-menu-item"><a
//                                             href="http://edit.52liezheng.com:80/gk52Edit//zp/yingpinadmin/jian/resumeorder/action/HrRes
//umeOrder!manage.action"><i class="menu-dot"></i><span>预定人才</span></a></li> -->
//<li class="no-border sub-menu-item"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit//qz/edit/jian/action/ResumeJian!
//manage.action"><i class="menu-dot"></i><span>简历管理</span></a></li>
//
//<li class="sub-menu-title"><span>证书验证管
//                            理</span></li>
//
//<li class="no-border sub-menu-
//item"><a
//                 href="http://edit.52liezheng.com:80/gk52Edit//qz/edit/jian/resume/order/action/ResumeOrder!
//manage.action"><i class="menu-dot"></i><span>预订人才</span></a></li>
//<li class="no-border sub-menu-item"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit//qz/edit/jian/hrresumevert/action/HrResumeVert
//!manage.action"><i class="menu-dot"></i><span>真实保障-验证申请</span></a></li>
//
//</ul>
//</div>
//</li>
//
//<li class="top-menu-info trianadmin zz">
//<div class="parent-menu">
//<p><span class="icon"></span></p>
//<p><span class="text">信息管理</span></p>
//</div>
//<div class="sub-menu">
//<div class="top-bg">
//<p class="arrows-icon"><span
//                        class="icon"></span></p>
//<p class="top-line"></p>
//</div>
//<ul class="sub-menu-con">
//
//<li class="sub-menu-title"><span>培训信息
//</span></li>
//<!--<li class="sub-menu-item no-border"><a
//                                         href=""><i class="menu-dot"></i><span>添加培训分类</span></a></li>
//<li class="sub-menu-item no-border"><a
//                                     href=""><i class="menu-dot"></i><span>培训分类列表</span></a></li>-->
//<!--<li class="sub-menu-item no-border"><a
//                                         href="http://edit.52liezheng.com:80/gk52Edit//zz/trianadmin/action/ZizhiStudyInfo!
//manage.action"><i class="menu-dot"></i><span>管理培训信息</span></a></li>-->
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit/zz/edit/trianadmin/action/ZizhiStudyInfo!
//manage.action"><i class="menu-dot"></i><span>管理培训信息</span></a></li>
//
//
//<li class="sub-menu-title"><span>资质招标
//</span></li>
//<!--<li class="no-border sub-menu-item"><a
//                                         href="http://edit.52liezheng.com:80/gk52Edit//zz/zbadmin/action/ZizhiZbInfo!
//manage.action"><i class="menu-dot"></i><span>管理招标信息</span></a></li>-->
//<li class="no-border sub-menu-item"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit/zz/edit/zbadmin/action/ZizhiZbInfo!
//manage.action"><i class="menu-dot"></i><span>管理招标信息</span></a></li>
//
//<li class="sub-menu-title"><span>资质办理
//</span></li>
//<!--<li class="no-border sub-menu-item"><a
//                                         href="http://edit.52liezheng.com:80/gk52Edit/zz/agentadmin/action/ZizhiAgentInfo!
//manage.action"><i class="menu-dot"></i><span>管理办理信息</span></a></li>-->
//<li class="no-border sub-menu-item"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit/zz/edit/agentadmin/action/ZizhiAgentInfo!
//manage.action"><i class="menu-dot"></i><span>管理办理信息</span></a></li>
//
//<!--<li class="sub-menu-title"><span>资质竞
//                                标</span></li>
//<li  class="sub-menu-item"><a
//                            href="http://edit.52liezheng.com:80/gk52Edit//zz/jingbiao/action/ZizhiJingbiaoInfo!
//manage.action"><i class="menu-dot"></i><span>我参与的竞标</span></a></li>-->
//
//
//
//
//
//</ul>
//</div>
//</li>
//<li class="top-menu-appreciation serviceshow product">
//<div class="parent-menu">
//<p><span class="icon"></span></p>
//<p><span class="text">增值服务</span></p>
//</div>
//<div class="sub-menu">
//<div class="top-bg">
//<p class="arrows-icon"><span
//                        class="icon"></span></p>
//<p class="top-line"></p>
//</div>
//<ul class="sub-menu-con">
//
//<li class="sub-menu-title"><span>服务套餐
//</span></li>
//
//
//<li class="sub-menu-item"><a
//                           href="http://edit.52liezheng.com:80/gk52Edit//product/serviceshow/action/ServiceAbout!
//resumeDown.action"><i class="menu-dot"></i><span>简历下载套餐</span></a></li>
//
//
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit//product/serviceshow/action/ServiceAbout!
//jobSend.action"><i class="menu-dot"></i><span>职位发布套餐</span></a></li>
//<li class="sub-menu-item"><a
//                           href="http://edit.52liezheng.com:80/gk52Edit//product/serviceshow/action/ServiceAbout!
//jobCmpLogo.action"><i class="menu-dot"></i><span>职位品牌标识套餐</span></a></li>
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit//product/serviceshow/action/ServiceAbout!
//jobCommnad.action"><i class="menu-dot"></i><span>职位推送套餐</span></a></li>
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit//product/serviceshow/action/ServiceAbout!
//smsService.action"><i class="menu-dot"></i><span>短信服务套餐</span></a></li>
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit//product/serviceshow/action/ServiceAbout!
//imgSowService.action"><i class="menu-dot"></i><span>图片展示套餐</span></a></li>
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit//product/serviceshow/action/ServiceAbout!
//resumeOrderService.action"><i class="menu-dot"></i><span>人才预定套餐</span></a></li>
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit//product/serviceshow/action/ServiceAbout!
//vipService.action"><i class="menu-dot"></i><span>VIP套餐</span></a></li>
//
//<!--			<li class="sub-menu-title"><span>消费中心
//</span></li>
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit//product/buy/order/action/Order!
//manage.action"><i class="menu-dot"></i><span>我的订单</span></a></li>
//<li class="sub-menu-item"><a
//                           href="http://edit.52liezheng.com:80/gk52Edit//product/buy/fapiao/action/Fapiao!
//manage.action"><i class="menu-dot"></i><span>索要发票</span></a></li>-->
//
//
//
//
//</ul>
//</div>
//</li>
//<li class="top-menu-appreciation serviceshow product">
//<div class="parent-menu">
//<p><span class="icon"></span></p>
//<p><span class="text">会员信息</span></p>
//</div>
//<div class="sub-menu">
//<div class="top-bg">
//<p class="arrows-icon"><span
//                        class="icon"></span></p>
//<p class="top-line"></p>
//</div>
//<ul class="sub-menu-con">
//
//
//
//<li class="sub-menu-title"><span>会员管理
//</span></li>
//
//
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit//usr/edit/userbasic/action/UserBasic!
//manage.action"><i class="menu-dot"></i><span>全部</span></a></li>
//
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit/zp/edit/sysconfig/cmplicense/action/HrCmpLicen
//se!manage_companys.action"><i class="menu-dot"></i><span>企业会员</span></a></li>
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit/zp/edit/sysconfig/cmplicense/action/HrCmpLicen
//se!manage_agents.action"><i class="menu-dot"></i><span>猎头会员</span></a></li>
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit/zp/edit/sysconfig/cmplicense/action/HrCmpLicen
//se!manage_users.action"><i class="menu-dot"></i><span>个人会员</span></a></li>
//
//<li class="sub-menu-title"><span>企
//                            业资料</span></li>
//<li class="sub-menu-item"><a
//                           href="http://edit.52liezheng.com:80/gk52Edit/zp/edit/sysconfig/cmplicense/action/HrCmpLicen
//se!manage.action">
//<i class="menu-dot"></i><span>企业证照-审核
//</span></a></li>
//</ul>
//</div>
//</li>
//<li class="top-menu-setting sysconfig">
//<div class="parent-menu">
//<p><span class="icon"></span></p>
//<p><span class="text">站务管理</span></p>
//</div>
//<div class="sub-menu">
//<div class="top-bg">
//<p class="arrows-icon"><span
//                        class="icon"></span></p>
//<p class="top-line"></p>
//</div>
//<ul class="sub-menu-con">
//
//<li class="sub-menu-title"><span>网站投诉
//</span></li>
//
//<li class="sub-menu-item"><a
//                           href="http://edit.52liezheng.com:80/gk52Edit//ow/edit/workOrder/complaint/action/WoHrCompla
//int!manageWaitting.action">
//<i class="menu-dot"></i><span>网站
//                         投诉处理</span></a></li>
//
//
//<li class="sub-menu-title"><span>友情链接
//</span></li>
//
//<li class="sub-menu-
//item"><a href="http://edit.52liezheng.com:80/gk52Edit/"><i class="menu-dot"></i><span>添加
//                                                                                           友情链接</span></a></li>
//<li class="sub-menu-item no-border"><a
//                                     href="http://edit.52liezheng.com:80/gk52Edit/"><i class="menu-dot"></i><span>友情链接列表
//</span></a></li>
//
//<li class="sub-menu-title"><span>网站地图
//</span></li>
//<li class="sub-menu-item"><a
//                           href="http://edit.52liezheng.com:80/gk52Edit/"><i class="menu-dot"></i><span>生成
//</span></a></li>
//</ul>
//</div>
//</li>
//</ul>
//</div>
//</div>